bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
publish/linux-arm64
publish/linux-x64
.idea/
publish-debug.sh
TcfBackup.GDriveAdapter/credentials.json
TcfBackup.GDriveAdapter/credentials.json.base64
TcfBackup.GDriveAdapter/GDriveClientSecrets.cs
Compressor/build/*
Compressor/.vscode/*
SQLite/build/*
TcfBackup.sln.DotSettings.*
